<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.leand.bilanztracker">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activitys.MainActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activitys.OverviewActivity"
            android:label="@string/Label_Overview"
            android:launchMode="singleTask"/>
        <activity
            android:name=".Activitys.EditIncomeActivity"
            android:label="@string/Label_EditIncome"
            android:launchMode="singleTask"/>
        <activity
            android:name=".Activitys.ExpenseActivity"
            android:label="@string/Label_Expense"
            android:launchMode="singleTask"/>
        <activity
            android:name=".Activitys.EditDeductionActivity"
            android:label="@string/Label_EditDeduction"
            android:launchMode="singleTask"/>
        <activity
            android:name=".Activitys.EditExpenseActivity"
            android:label="@string/Label_EditExpense"
            android:launchMode="singleTask"/>
        <activity
            android:name=".Activitys.IncomeActivity"
            android:label="@string/Label_Income"
            android:launchMode="singleTask"/>
        <activity android:name=".Activitys.InfoActivity"
            android:label="@string/Label_Info"
            android:launchMode="singleTask"/>
        <activity android:name=".Activitys.CurrencyActivity"
            android:label="@string/Label_ChangeCurrency"
            android:launchMode="singleTask"></activity>
    </application>
</manifest>